<div class="relative inline-block">
  
  <button
    (click)="toggle()"
    [class.z-50]="isOpen()"
    [class.relative]="isOpen()"
    class="border px-4 py-2.5 border-sky-300 rounded-xl bg-white text-sky-400 font-medium text-sm md:text-base transition-all duration-200 ease-in-out hover:bg-sky-50 hover:border-sky-400 hover:shadow-sm active:scale-95 md:w-auto min-w-40 hover:bg-sky-50 hover:border-sky-400 hover:shadow-sm"
  >
    {{ label() }}
    <!-- <svg xmlns="http://www.w3.org/2000/svg" class="h-4 w-4 transition-transform" [class.rotate-180]="isOpen()" fill="none" viewBox="0 0 24 24" stroke="currentColor">
      <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M19 9l-7 7-7-7" />
    </svg> -->
  </button>

  @if (isOpen()) {
    <div 
      class="fixed inset-0 bg-gray-900/30 z-40 transition-opacity"
      (click)="close()"
    ></div>

    <div 
      class="absolute right-0 left-5/6 bottom-full mt-2 w-60 md:w-80 bg-white rounded-lg shadow-2xl z-50 overflow-hidden  border-gray-500  animate-in fade-in zoom-in duration-200"
    >
      <div class="py-2">
        <ng-content></ng-content>
      </div>
    </div>
  }
</div>