/* You can add global styles to this file, and also import other style files */

@import 'tailwindcss';

/* Global reusable container */
@layer components {
  .app-container {
    @apply bg-white
      rounded-lg
      shadow-sm
      p-4
      sm:p-6
      md:p-8
      mx-auto
      my-4
      w-full
      max-w-7xl;
  }
}
